/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 320px) and (max-width: 480px){
/* Styles */
    .container  {
      width: 310px;
    }

    .slider-post {
      height: 280px;
      width: 100%;
    }

    .hgrande {
      width: 300px!important;
    }

    .news-slider {
        padding-right: 10%;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .news-hgrande {
        font-size: 1.3rem;
        line-height: 1.2rem;
    }

    .news-especial {
      font-size: 2rem;
    }

    .parallax-container {
      height:400px;
    }

    .intro-container {
      height:400px;
            z-index: -77;
    }
    h1.titulo-post {
      font-size: 2rem;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
    }
    .especial {
        padding-top: 150px;

    }
}

@media (min-width: 481px) and (max-width: 992px) {
  .container  {
    width: 600px;
  }

  .slider-post {
    height: 280px;
    width: 100%;
  }

  .intro-container {
    height:400px;
  }
  .news-especial {
    font-size: 3.2rem;
  }
  .news-slider {
      padding-right: 10%;
      font-weight: 600;
      font-size: 2.1rem;
      line-height: 2rem;
  }
  .news-hgrande {
      font-size: 1.8rem;
      line-height: 1.8rem;
  }
  .especial {
      padding-top: 100px;

  }
}



/* Desktops and laptops ----------- */
@media (min-width: 993px) and (max-width: 1279px) {
    .container  {
      width: 980px;
    }
    .slider-post {
      height: 320px;
      width: 100%;
    }
    .news-slider {
        padding-right: 10%;
        font-weight: 800;
        font-size: 2.1rem;
        line-height: 2.1rem;
    }

    .news-hgrande {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .news-especial {
      font-size: 4.2rem;
    }

    .intro-container {
      height:500px;
            z-index: -77;
    }
    h1.titulo-post {
      font-size: 3rem;
      font-weight: 800;
      font-family: 'Roboto', sans-serif;
    }
    .especial {
        padding-top: 100px;

    }

}

/* Large screens ----------- */
@media (min-width : 1280px) {
      .container  {
        width: 1180px;
      }
      .slider-post {
        height: 320px;
        width: 100%;
      }

      .news-slider {
          padding-right: 10%;
          font-weight: 800;
          font-size: 2.1rem;
          line-height: 2.1rem;
      }

      .news-hgrande {
          font-size: 1.8rem;
          line-height: 1.8rem;
      }

      .news-especial {
        font-size: 4.2rem;
      }

      .intro-container {
        height:500px;
              z-index: -77;
      }
      h1.titulo-post {
        font-size: 3rem;
        font-weight: 800;
        font-family: 'Roboto', sans-serif;
      }
      .especial {
          padding-top: 150px;

      }


}

.especial-container {
  position: absolute;
  bottom: 50px;
}

.embassada {
  position: absolute;
  top: 0;
  z-index: -99;
  width: 100%;
  height: 535px;
  }



h2.titulo-post {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

::placeholder {
  color: #545454;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}


.destaque-post {

  background-size: cover;
  background-position: center;
}

.news-especial {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-shadow: 0px 3px 0px #000,
               0px 1px 1px rgba(0,0,0,0.15),
               0px 2px 2px rgba(0,0,0,0.1),
               0px 3px 3px rgba(0,0,0,0.1);
  padding: 5px;
}


.destaque-post {
  height: 200px;
  width: 100%;
}

.news-slider {
    position: absolute;
    bottom: 20px;
    left: 10%;
    z-index: 99;
    padding-right: 10%;
    font-family: 'Roboto', sans-serif;
}

.news-hgrande {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 5px;
}

.img-hgrande{
  height: 180px;
  width: 200px;
}

.news {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.news-h {
    padding: 5px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
}
.news-destaque {
    position: absolute;
    bottom: 20px;
    left: 5%;
    z-index: 99;
    padding-right: 5%;
    font-family: 'Roboto', sans-serif;
}

.news-destaque {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.1rem;
}

.news-text {
    padding: 5px 15px 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.1rem;
}

.newscard {
    margin-bottom: 10px;
}

.hnewscard {
    max-height: 80px;
}



/* Gradient color1 - color2 - color1 */
hr.style-one {
    border: 0;
    height: 1px;
    background: #f4f4f4;
    background-image: linear-gradient(to right, #f4f4f4, #ccc, #f4f4f4);
  }

  /* Posicionamentos nos cantos */

  .nocanto1 {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99;
  }

  .nocanto2 {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
  }

  .nocanto3 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 99;
  }

  .nocanto4 {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 99;
  }

  .navbar-fixed{
    opacity: 0.9;
    }

  .logomarca {
    font-size: 30px;
    font-weight:  400;
  }

  .float-panel {
      width:100%;
      z-index:300;
      transform: translateZ(0);
      transition:all 0.5s;
  }

  /* Float Panel: class="float-panel fixed" */

.fixed {
    animation:slide-down 0.7s;
    opacity:0.9;

}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}


img.alignright {
  float:right;
  margin:0 0 1em 1em
}

img.alignleft {
  float:left;
  margin:0 1em 1em 0
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

a img.alignright {
  float:right;
  margin:0 0 1em 1em
}

a img.alignleft {
  float:left;
  margin:0 1em 1em 0
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
